<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Single PAGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Custom.css') }}">
    


    {% include 'navbar.html' %}
  </head>

  <body>
   
<section class="container" id="about">

  <div class="about_section"> 
<div class="left"> 
  <h1>Your Trusted Data <br> Analyst Partner</h1>
  <h3>Welcome to Data Solutions, where we showcase our expertise in data analysis
     through a comprehensive portfolio. Explore our projects and see how we can 
     elevate your data-driven decisions.</h3>
     <div class="button_container"><a href=""><button>contact</button></a></div>

</div>
<div class="right">
<div class="image_container"> <img src="{{ url_for('static', filename='images/about.avif') }}" alt="about"> </div>
<div class="stats_container"> <div class="stat"><h1>150+</h1>
<h3>Proven Results</h3></div> 
<div class="stat"><h1>15</h1><h3>Client Satisfaction Guaranteed</h3>
</div>

</div>
  </div>
</section>


<section class="container" id="portfolio">
<div class="portfolio_section">  

  <h1>portfolio</h1>
  <h3>Showcasing my data analysis projects and freelance achievements.</h3>
  <div class="projects">
<div class="project">   <img src="{{ url_for('static', filename='images/data_insights1.avif') }}" alt="about">
  <h2> Data Insights</h2>
   <h3> Transforming data into actionable insights for clients.     
    <button> read more</button></h3>  </div>

    <div class="project">   <img src="{{ url_for('static', filename='images/data_insights1.avif') }}" alt="about">
      <h2> Data Insights</h2>
       <h3> Transforming data into actionable insights for clients.     
        <button> read more</button></h3>  </div>

<div class="project">   <img src="{{ url_for('static', filename='images/data_insights1.avif') }}" alt="about">
    <h2> Data Insights</h2>
    <h3> Transforming data into actionable insights for clients.     
      <button> read more</button></h3>  </div>

<div class="project">   <img src="{{ url_for('static', filename='images/data_insights2.avif') }}" alt="about">
  <h2> Visual Analytics</h2>
    <h3> Creating compelling visualizations to communicate data effectively.     
    <button> read more</button></h3>  </div>

  <div class="project">   <img src="{{ url_for('static', filename='images/data_insights3.avif') }}" alt="about">
    <h2> Predictive Modeling</h2>
    <h3> Building models to forecast trends and outcomes accurately.    
    <button> read more</button></h3>  </div>

  <div class="project">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about">
    <h2>Data Strategy</h2>
    <h3> Developing strategies to leverage data for business growth.     
    <button> read more</button></h3>  </div>


  </div>
</div>


</section>


<section class="container" id="data_and_scripts">
  <div class="data_and_scripts_section">
    <div class="data_and_scripts_section_info">
<h1>data and scripts</h1>
<h3>Explore my data analysis project, SQL scripts and Python notebooks to see how I can help you with your data needs.</h3>
</div>
<div class="scrolls">

  <div class="scroll data_preview">
    <div class="project__container">
    <div class="dataframe">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="dataframe_info"> 
      <h1>Dataframe from Tescos electronics stores sales</h1> 
      <p>Tescos electronics stores is a global online and retail store that sales electronics all over europe. its sales director was interested
        in the relationship between the sales and the weather in the region. 
        I was able to help him with this analysis and he was very happy with the results.
      </p>
    </div></div>
    <div class="project__container">
    <div class="dataframe">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="dataframe_info"> 
      <h1>Dataframe from Hyper taste coffee shop</h1> 
      <p>Having worked with the sales excutive from Hyper taste coffee shop to identify local trends in the Market.
        and how to improve their sales and marketing strategies. I was able to help him with this analysis and he was very happy with the results.
        The focus on the demand patterns and customer preferences was key to the analysis.
      </p>
    </div></div>
    <div class="project__container">
    <div class="dataframe">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="dataframe_info"> 
      <h1>Dataframe from Movies trends datasets</h1> 
      <p>Last year I collected movies data of all available gengres. After cleaning and wangling the data. I performed explorative analysis
        the target was to identify the most popular movies and the trends in the movie industry. Together with cast cobinations that were 
        most appreciated by the audience. I was able to build a Predictive model that would based on the 
        upcoming movie cast and crew, predict the success of the movie.  
      </p>
    </div> </div>
  
  </div>


  <div class="scroll python_notebook"> 
    <div class="project__container">
    <div class="notebook">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="notebook_info"> 
      <h1>Notebook from Tescos electronics stores sales</h1> 
      <p>The dataset comprised of nine defferent files in variable formats(csv,json,excel).
         The first step was to read each file and understand its contents after which I loaded the data into a pandas dataframe from initia data cleaning.
        using string manulation among other to handle compound columns</p>
    </div></div>
  
    <div class="project__container">
    <div class="notebook">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="notebook_info"> 
      <h1>Notebook from Hyper taste coffee shop</h1> 
      <p>Hyper taste coffee shop dataset was messy with duplicates and missing values.also it was made of one excel file. python notebook was used 
        together with pandas and numpy to clean the data and prepare it for analysis. 
        once the data was cleaned I was able to perform analysis and visualizations.
      </p>
    </div></div>
<div class="project__container">
    <div class="notebook">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="notebook_info"> 
      <h1>Notebook from Movies trends datasets</h1> 
      <p>Movies trends project was tricky as mostly it contained strings as opposed numeric quantities. hoverever after the initial cleaning
        a series of pivot tables and group by functions were used to extract the most important information. and with this  information I used 
        a series of hot encodings to extract the similarities and differences data points. lastly I was able to
         build a predictive model that would predict the success of the movie based on the cast and crew.

      </p>
    </div></div>


  </div>


  <div class="scroll sql_scripts"> 
    <div class="project__container">
    <div class="SQL">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="SQL_info"> 
      <h1>SQL from Tescos electronics stores sales</h1> 
      <p>In an attempt to understand the underlying statistical properties of the data and also its referencial integrity. 
        I loaded the data into a relational database and using a series of CTE and views I created a master data source with was easy for vidualising 
      </p>
    </div> </div>
    <div class="project__container">
    <div class="SQL">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="SQL_info"> 
      <h1>SQL from  Hyper taste coffee shop</h1> 
      <p>In  Hyper taste coffee shop SQL was used mostly to handle missing values and using roll number function and other functions 
        to handle data duplicates. also the data was cleaned and prepared for analysis.
      </p>
    </div> </div>

    <div class="project__container">
    <div class="SQL">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="SQL_info"> 
      <h1>SQL from Movies trends datasets</h1> 
      <p>Movies trends datasets was loaded in defferent tables by gengre and once this was done it was cleaned and referencial integrity established
        by using foreign keys and primary keys with the stars and directors tables. also linking to the financials table for the financial of the movies
        after all this was done vector embedings were applied to the database  for similarity searches.
      </p>
    </div> </div>



  </div>
</div>

  </div>
</section>



<section class="container" id="data_insights">
  <div class="data_insights"> 
    <h1>data insights</h1>
    <h3>Showcasing impactful projects that highlight my data analysis skills.</h3>
  <div class="insight">    
    <div class="insight_image">   <img src="{{ url_for('static', filename='images/data_insights1.avif') }}" alt="about"></div> 
    <div class="insight_description"> <h2>Market Analysis</h2> 
    <h3>Conducted a comprehensive market analysis to identify trends and opportunities, 
      providing actionable insights that helped clients make informed decisions and improve their business strategies effectively.</h3>     </div>
  </div>

  <div class="insight">    
    <div class="insight_image">   <img src="{{ url_for('static', filename='images/data_insights4.avif') }}" alt="about"></div> 
    <div class="insight_description"> <h2>Data Visualization</h2> 
    <h3>Created engaging data visualizations that transformed complex datasets into clear,
       actionable insights, enabling clients to understand their data better and make data-driven decisions for their projects.</h3>     </div>
  </div>
</section>


<section class="container available_services_section_container" id="services">
  <div class="available_services_section"> <h1>Data Analysis Services</h1>
  <h3>Offering expert data analysis to help businesses make informed decisions and drive growth effectively.</h3>

<div class="portfolio_of_evidence">
  <div class="evidence">

  <img src="{{ url_for('static', filename='images/Services2.avif') }}" alt="about"><div class="evidence_description">
  <h2>  Custom Reporting Solutions</h2>
  <h3>Creating customized reports that visualize data trends and support strategic planning for your organization.</h3>
</div></div>
<div class="evidence">
  <img src="{{ url_for('static', filename='images/Services2.avif') }}" alt="about"><div class="evidence_description">
    <h2> Freelance Data Insights</h2>
    <h3>Providing actionable insights through comprehensive data analysis tailored to your specific business needs</h3>
  </div>

</div>
</div>
</div>

</section>

<section class="container" id="contact">
  <div class="get_in_touch_section">
    <div class="info">
      <h1>Get in Touch</h1>
      <h3>Contact me for data analysis projects or freelance opportunities. <br>
        I look forward to collaborating and helping you with your data needs.</h3>
        <h2>Reach</h2>
        <h3>1234567890</h3>
        <h2>Connect</h2>
        <h3>info@datasyntax.com</h3>
    </div>

    <div class="imail_form"> <form action="">

      <label for=""> your full name</label>
      <input type="text" name="" id="">
      <label for=""> Your Email Address*</label>
      <input type="email" name="" id="">
      <label for="">Your Message*</label>\
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type="submit" class="submit_btn">Send your message</button>
    </form></div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/start.js') }}"></script>



<footer>
  <div class="container footer_container">  
  
  
    <div class="left"> <h1>
      Portfolio Webpage</h1>
    <h3>Showcasing my work as a data analyst.</h3> 
    <h2>My Socials</h2>
    
  </div> 
  
    <div class="center"><h1>Contact details</h1>
    <h3>+1234567890</h3>
  <h3>info@datasolutions.com</h3></div> 
  
    <div class="right"> 
      <h1>Subscribe to news letter</h1>
      <form action="">
        <label for="">Your Email Address</label>
        <input type="email" name="" id="">
        <button type="submit"  class="submit_btn">Send your message</button>
      </form>
    
    
    </div>
  
  </div>
  <h1 class="copy_right">&copy; 2025 Data Solutions</h1>
  
</footer>

  </body>

</html>